.aboutSection {
    width: 100%;
    padding: 5% 0;
    background-color: $tertiary-color;
}

.aboutSectionContainer {
    width: 100%;
    // height: 100%;
    display: flex;
}

.aboutProfileContainer {
    width: 50%;
    // border: 2px solid blue;
    display: flex;
    // justify-content: center;
    
}

.profileImage {
    width: 65%;
    height: 100%;
    border: 10px solid $primary-color;
    transform: translateY(-2.5%);

    img {
        transform: translateX(6%) translateY(4%);
    }
}

.aboutTextContainer {
    width: 50%;
    // border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 5%;
    padding-left: 5%;
}

.aboutTextContent {
    // border: 2px solid red;

    h2 {
        font-size: 50px;
        text-transform: uppercase;
        // text-align: center;
    }

    p {
        margin: 2% 0;
    }

    button {
        width: 35%;
        margin-top: 5%;
        border: none;
        padding: 15px 0;
        background-color: $primary-color;
        color: $secondary-color;
    }
}

@media (max-width: 1100px) {
    .profileImage {
        width: 85%;
    } 

    .aboutTextContainer {
        padding-left: initial;
    }
}

@media (max-width: 1000px) {
    .aboutSectionContainer {
        flex-direction: column;
    }

    .aboutProfileContainer {
        width: 100%;
        // align-items: center;
        justify-content: center;
        margin-bottom: 5%;
    }

    .profileImage {
        width: 40%;
    }

    .aboutTextContainer {
        width: 100%;
        // margin-top: 5%;
        // justify-content: center;
    }

    .aboutTextContent {
        // justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        // h2 {
        //     text-align: center;
        // }

    }
}
