.contactSection {
    width: 100%;
    padding: 5% 0;
    background-color: $primary-color;
    color: $secondary-color;

    h2 {
        font-size: 3.125rem;
        text-transform: uppercase;
        // text-align: center;
        margin-bottom: 3%;
    }
}

.contactContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.socialLinksContainer {
    width: 25%;
    // border: 2px solid red;
    display: flex;
    // align-items: center;
    // flex-direction: column;
}

.socialIcons {
    display: flex;
    flex-direction: column;
    // border: 2px solid blue;
    height: 70%;
    width: 100%;

    li:first-child {
        text-transform: none;
    }

    i {
        margin-right: 10%;
        font-size: 24px;
    }

    a:hover,
    a:focus,
    i:hover,
    i:focus,
    li:hover,
    li:focus {
        color: $accent-color;
    }
}

form {
    width: 70%;
    // border: 2px solid red;
    display: flex;
    flex-direction: column;

    input[type=submit] {
        width: 25%;
        margin-top: 2%;
        align-self: flex-end;
        border: none;
        padding: 15px 0;
        background-color: $accent-color;;
        color: $primary-color;
        text-transform: uppercase;
        transition: all 0.3s;
    }

    input[type=submit]:hover,
    input[type=submit]:focus {
        background-color: #F1A933;
    }
}

.nameAndEmail {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input {
    width: 48%;
    height: 50px;
    padding: 2%;
    // border: 2px solid blue;
    border: 1px solid $secondary-color;
    background-color: $primary-color;
    color: $secondary-color;
    transition: all 0.3s;
}

input::placeholder {
    color: $secondary-color;
}

textarea {
    width: 100%;
    margin-top: 2%;
    padding: 2%;
    resize: none;
    background-color: $primary-color;
    color: $secondary-color;
    border: 1px solid $secondary-color;
    transition: all 0.3s;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
   border: 1px solid $accent-color; 
}

textarea::placeholder{
    color: $secondary-color;
}


@media (max-width: 900px) {

    .contactSection h2 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 5%;
    }

    .contactContainer {
        flex-direction: column;
        align-items: center;
    }

    .socialLinksContainer {
        margin-bottom: 5%;
        width: 75%;
    }

    .socialIcons li {
        margin-bottom: 10%;
        text-align: center;
    }
}

@media (max-width: 700px) {

    form {
        width: 90%;
        // align-items: center;

        input[type=submit] {
            width: 100%;
            align-self: center;
            // text-align: center;
        }
    }

    .nameAndEmail {
        flex-direction: column;

        input {
            width: 100%;
            margin-bottom: 5%;
        }
    }
}

@media (max-width: 500px) {

    .contactSection h2 {
        font-size: 2.5rem;
    }

}