/***********************************************************
		    		  GENERAL STYLES
***********************************************************/

html {
    scroll-behavior: smooth;
}

h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

i,
li,
a {
    transition: all 0.3s;
}

a {
    text-decoration: none;
    color: $secondary-color;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    height: 100%;
}

.box-shadow {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

    &:active {
        transform: translateX(5px) translateY(5px);
    }
}

/***********************************************************
		    		    HEADER
***********************************************************/

header {
    height: 100vh;
    background-image: url("../assets/headerBackground.jpg");
    background-size: cover;
    background-position-y: 25%;
    color: $secondary-color;
    position: relative;
}

.headerOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 50%, rgba(24, 24, 24, 0.1));
    z-index: 1;
}

.wrapper {
    max-width: 1600px;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

nav {
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 50;
    background-color: $primary-color;
}

.navWrapper {
    max-width: 1600px;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    display: flex;
    width: 55%;
    justify-content: space-between;
    text-transform: uppercase;

    a:hover,
    a:focus {
        color: $accent-color;
    }
}

.headerContentContainer {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 10;
}

.headerTextContainer {
    width: 80%;
    height: 52%;
    display: flex;
    flex-direction: column;
    padding-right: 5%;
}

.titleText {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 6rem;
        color: $accent-color;
        
    }

    h3 {
        font-size: 2.2rem;
        padding: 2% 0;
    }

    p {
        margin-top: 3%;
    }
}

.titleText h3:first-child {
    align-self: flex-end;
}

.socialHeader {
    display: flex;
    margin-top: 3.5%;
    width: 30%;
    justify-content: space-between;

    i {
        font-size: 32px;
        color: $accent-color;
    }

    i:hover,
    i:focus {
        color: #F1A933;
    }
}

/***********************************************************
		    		  MEDIA QUERIES
***********************************************************/

@media (max-width: 1200px) {
    header {
        background-position-x: 75%;
    }

    .headerTextContainer {
        height: 55%;
    }
}


@media (max-width: 900px) {
    nav ul {
        width: 100%;
    }

    .headerTextContainer {
        padding-right: initial;
    }
}

@media (max-width: 768px) {
    header {
        background-position-x: 75%;
    }

    .titleText h1 {
        font-size: 5rem;
    }

}

@media (max-width: 700px) {
    .headerTextContainer {
        width: 70%;
        height: 52%;

        h3 {
            white-space: nowrap;
        }
    }

    .socialHeader {
        width: 40%;
    }
}

@media (max-width: 560px) {

    .headerOverlay {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 40%, rgba(24, 24, 24, 0.1));
    }

    .titleText h3 {
        font-size: 1.7rem;
    }

    .socialHeader {
        width: 60%;
    }

    .navWrapper {
        width: 90%;

        ul {
            width: 100%;

            li:nth-child(4) {
                display: none;
            }

            li {
                font-size: 0.8rem;
            }

        }
    }

    @media (max-width: 460px) {
        .socialHeader {
            width: 75%;
        }
    }

    @media (max-width: 320px) {
        .socialHeader {
            width: 90%;
        }
    }
}

