.portfolioSection {
    width: 100%;
    padding: 3% 0;

    h2 {
        font-size: 50px;
        text-transform: uppercase;
        // text-align: center;
        margin-bottom: 5%;
    }
}

.projectContainer {
    width: 100%;
    display: flex;
    margin-bottom: 5%;
}

.projectImage {
    width: 50%;
    // border: 2px solid red;
    height: 200px;
}

.projectImageContainer {
    width: 75%;
    height: 100%;
}

.projectDescription {
    width: 50%;
    // border: 2px solid red;
    height: 200px;
    display: flex;
    align-items: center;
}

.projectDescriptionText {
    display: flex;
    flex-direction: column;
    // border: 2px solid blue;

    p {
        margin: 3% 0;
    }
}
