article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
}

header {
  height: 100vh;
  border: 2px dotted black;
}

.wrapper {
  max-width: 1600px;
  width: 80%;
  border: 2px dashed blue;
  margin: 0 auto;
  height: 100%;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2% 0;
}

ul {
  border: 2px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

.headerContentContainer {
  width: 100%;
  height: 90%;
  border: 2px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.headerTextContainer {
  width: 50%;
  border: 2px solid red;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 7%;
}

.titleText {
  border: 2px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titleText h1 {
  font-size: 60px;
}

.titleText h3 {
  font-size: 24px;
  padding: 2% 0;
}

.titleText p {
  margin-top: 3%;
}

.titleText h3:first-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.headerTextContainer button {
  width: 25%;
  margin-top: 10%;
  border: none;
  padding: 15px 0;
  background-color: #000;
  color: #fff;
}

.aboutSection {
  width: 100%;
  padding: 5% 0;
}

.aboutSectionContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutProfileContainer {
  width: 50%;
  border: 2px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profileImage {
  width: 65%;
  height: 100%;
  border: 10px solid black;
  -webkit-transform: translateY(-2.5%);
          transform: translateY(-2.5%);
}

.profileImage img {
  -webkit-transform: translateX(6%) translateY(4%);
          transform: translateX(6%) translateY(4%);
}

.aboutTextContainer {
  width: 50%;
  border: 2px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 1%;
  padding-left: 5%;
}

.aboutTextContent {
  border: 2px solid red;
}

.aboutTextContent h2 {
  font-size: 50px;
  text-transform: uppercase;
}

.aboutTextContent p {
  margin: 2% 0;
}

.aboutTextContent button {
  width: 35%;
  margin-top: 5%;
  border: none;
  padding: 15px 0;
  background-color: #000;
  color: #fff;
}

.skillsSection {
  width: 100%;
  padding: 2% 0;
}

.skillsContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skillsContent {
  width: 50%;
  border: 2px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5%;
}

.itemsContainer {
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 2px solid green;
}

.skillItem {
  width: 25%;
  border: 2px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.skillItem i {
  font-size: 60px;
}

.skillsTitle {
  width: 50%;
  border: 2px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillsTitle h2 {
  font-size: 50px;
  text-transform: uppercase;
  text-align: left;
  border: 2px solid blue;
}

.portfolioSection {
  width: 100%;
}

.portfolioSection h2 {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 2%;
}

.projectContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3%;
}

.projectImage {
  width: 50%;
  border: 2px solid red;
  height: 200px;
}

.projectImageContainer {
  width: 75%;
  height: 100%;
}

.projectDescription {
  width: 50%;
  border: 2px solid red;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectDescriptionText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid blue;
}

.projectDescriptionText p {
  margin: 3% 0;
}

.contactSection {
  width: 100%;
}

.contactSection h2 {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 3%;
}

.contactContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socialLinksContainer {
  width: 25%;
  border: 2px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid blue;
  height: 70%;
  width: 100%;
}

.socialIcons i {
  margin-right: 10%;
  font-size: 24px;
}

form {
  width: 70%;
  border: 2px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input[type=submit] {
  width: 20%;
  margin-top: 2%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: none;
  padding: 15px 0;
  background-color: #000;
  color: #fff;
}

.nameAndEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

input {
  width: 48%;
  height: 50px;
  padding: 2%;
  border: 2px solid blue;
}

textarea {
  width: 100%;
  margin-top: 2%;
  padding: 2%;
}
